.Slider {
  display: flex;
  height: 30rem;
  margin: auto;
  overflow: hidden;
}

.content {
  position: relative;
  width: 30rem;
  height: 100%;
}

.item {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.current {
  z-index: 1;
}

.previous {
  right: 100%;
}

.next {
  right: -100%;
}

.button-container {
  display: flex;
  align-items: center;
  background: white;
  height: 100%;
  z-index: 1;
}

button {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;
  background: darkslategrey;
}

:global(.content .Slider button img) {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem;
  filter: contrast(0%) brightness(200%);
  transition: filter 0.1s ease-in-out;
}

:global(.Slider button img:hover) {
  filter: contrast(100%) brightness(100%) opacity(60%);
}
